<!DOCTYPE html>
<html>
<head>
  <%- include('head'); %>
</head>
<body>
  <%- include('header') %>
  <div id='app'></div>
  <script src=<%= '../../js/mobile/' + title + '.js' %> ></script>
</body>
</html>
