<!DOCTYPE html>
<html>
<head>
  <%- include('head'); %>
  <style>
    html {
      height: 100%;
    }
    body {
      margin: 0;
      height: 100%;
      overflow: hidden;
      position: relative;
    }
    #ball{
      width: 50px;
      height: 50px; 
      display: inline-block;
      border-radius: 50%;
      background: yellow;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.8;
      background: -webkit-radial-gradient( at 40% 40%,#fff 0, #f25d8e 100%);
      background: radial-gradient( at 40% 40%,#fff 0, #f25d8e 100%);
    }
  </style>
</head>
<body>
  <%- include('header') %>
  <div id="ball" style="top: 0;left: 0"></div>
  <script src="../../js/mobile/ball.js"></script>
</body>
</html>
