<!DOCTYPE html>
<html>
<head>
  <%- include('head'); %>
  <link rel="stylesheet" href="../../css/common/swiper.min.css">
  <link rel="stylesheet" href="../../css/mobile/index.css">
</head>
<body>
  <!-- <%- include('header') %> -->
  <div id="ball" style="top: 0;left: 0"></div>

  <div class="swiper-container app">
    <div class="swiper-wrapper">
      <div class="swiper-slide index">
        <div class="index-title">
          <span class="s0">h</span>
          <span class="s1">a</span>
          <span class="s2">i</span>
          <span class="s3">z</span>
          <span class="s4">a</span>
          <span class="s5">i</span>
          <span class="s6">n</span>
          <span class="s7">a</span>
          <span class="s8">i</span>
          <span class="s9">v</span>
          <span class="s10">e</span>
        </div>
      </div>
      <div class="swiper-slide">

      <div class="swiper-container anime-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide anime-slide">
            <p class="anime-title">名侦探柯南</p>
            <a href="/mobile/animes#/1463371"><img class="anime-img" src="../../img/animes/id/1463371.jpg" alt="loading"></a>
            <p class="anime-enter"><a class="anime-a" href="/mobile/animes#/">进入动漫页</a></p>
          </div>
          <div class="swiper-slide anime-slide">
            <p class="anime-title">新世纪福音战士</p>
            <a href="/mobile/animes#/1457573"><img class="anime-img" src="../../img/animes/id/1457573.jpg" alt="loading"></a>
            <p class="anime-enter"><a class="anime-a" href="/mobile/animes#/">进入动漫页</a></p>
          </div>
          <div class="swiper-slide anime-slide">
            <p class="anime-title">未闻花名</p>
            <a href="/mobile/animes#/5397537"><img class="anime-img" src="../../img/animes/id/5397537.jpg" alt="loading"></a>
            <p class="anime-enter"><a class="anime-a" href="/mobile/animes#/">进入动漫页</a></p>
          </div>
          <div class="swiper-slide anime-slide">
            <p class="anime-title">反叛的鲁路修</p>
            <a href="/mobile/animes#/2043155"><img class="anime-img" src="../../img/animes/id/2043155.jpg" alt="loading"></a>
            <p class="anime-enter"><a class="anime-a" href="/mobile/animes#/">进入动漫页</a></p>
          </div>
        </div>
        <div class="swiper-pagination anime-pagination"></div>
      </div>

      <a href="javascript:;">进入动漫</a>
      </div>
      <div class="swiper-slide">
        <p class="game-title">游戏</p>
        <p class="game-enter"><a href="./demo/box/index.html">egret合集</a></p>
        <p class="game-enter"><a href="./demo/happy/index.html">消除游戏</a></p>
        <p class="game-enter"><a href="./demo/ttt/index.html">井字棋联机匹配</a></p>
        
        
        



      </div>
    </div>
    <div class="swiper-pagination swiper-write-bottom"></div>
  </div>


  <script src="../../js/common/swiper.min.js"></script>
  <script src="../../js/mobile/index.js"></script>



</body>
</html>
