.container-transition {
  transition: all .3s;
}
.container-leave,
.container-enter {
  transform: translate(-100%, 0);
 opacity: 0;
}

* {
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'microsoft yahei';
}
i {
  display: inline-block;
 width: 25px;
  height: 25px;
 background-size: 25px 25px;
}
.top {
  width: 100%;
  padding: 70px 0 40px;
}

.head {
  width: 700px;
  margin: 0 auto;
 text-align: center;
 color: #fff;
}
.head .city-name {
  font-size: 30px;
  line-height: 1.4;
}
.head .now-cond {
  line-height: 25px;
}
.head .now-tmp {
  font-family: simhei;
  font-size: 140px;
  line-height: .9;
}
.head .now-tmp-after {
  font-size: 60px;
 position: absolute;
}

.city-search {
  width: 150px;
  margin: 0 auto;
}
.city-input {
  width: 100%;
 cursor: pointer;
  text-align: center;
 color: #ddd;
  border: none;
  background-color: inherit;
}
.city-search-box {
  position: absolute;
  z-index: 1;
 overflow: auto;
 width: 150px;
  max-height: 220px;
 color: #666;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 3px 0 #999;
}
.city-search-item {
  line-height: 1.5;
 cursor: pointer;
}
.city-search-item:hover {
  background: #ddd;
}

.hourly {
  line-height: 1.5;
 display: flex;
 width: 700px;
  margin: 70px auto 0;
 color: #fff;
}
.hourly-item {
  display: inline-block;
 text-align: center;
 flex: 1;
}
.hourly-tmp {
  font-size: 22px;
  line-height: 1;
}

.daily {
  line-height: 1.5;
 display: flex;
 width: 800px;
  margin: 40px auto 0;
 justify-content: center;
  flex-wrap: wrap;
}
.daily-item {
  display: inline-block;
 min-width: 105px;
  margin-top: 20px;
 text-align: center;
 flex: 1;
}
.daily-date {
  line-height: 2;
}

@media screen and (max-width: 800px) {
  .head,
  .daily,
  .hourly {
    font-size: 12px;
   width: 100%;
  }
  .daily {
    flex-wrap: wrap;
  }
  .city-search-item,
  .now-cond {
    font-size: 16px;
  }
  .hourly i {
    display: none;
  }
  .hourly .hourly-tmp {
    font-size: 18px;
  }
  i {
    display: inline-block;
   width: 20px;
    height: 20px;
   background-size: 20px 20px;
  }
}