#aboutme {
  position: absolute;
  width: 980px;
  margin: 100px auto 0;
  line-height: 2;
  text-shadow: 2px 2px 4px #000;

  .title {
    text-align: center;
    font-size: 46px;
    color: #fff;
  }
  p {
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
  a {
    color: $pink-light;
    &:hover {
    text-decoration: underline;
    }
  }
}