.part-aboutme-warp {
  position: absolute;
  width: 980px;
  margin: 100px auto 0;
  line-height: 2;
  text-shadow: 2px 2px 4px #000;
}

.part-aboutme-title {
  text-align: center;
  font-size: 46px;
  color: #fff;
}
.part-aboutme-warp p {
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.part-aboutme-warp a {
  color: $pink-light;
}
.part-aboutme-warp a:hover {
  text-decoration: underline;
}

@keyframes bounceIn {
  from, 12%, 25%, 37%, 50%, 62%, 75%, 87%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  12% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  25% {
    opacity: 1;
    transform: scale3d(1.3, 1.3, 1.3);
  }

  37% {
    opacity: 0;
    transform: scale3d(.7, .7, .7);
  }

  50% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  62% {
    opacity: 0;
    transform: scale3d(.9, .9, .9);
  }

  75% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  87% {
    opacity: 0;
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  animation: bounceIn 1.2s;
  animation-fill-mode: backwards;
}