#demos {
  position: absolute;
  width: 980px;
  margin: 150px auto 0;
  line-height: 2;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
  color: #fff;

  .title {
    font-size: 46px;
  }
  .title2{
    font-size: 36px;
  }
  .left {
    display: inline-block;
    width: 490px;
    float: left;
  }
  .right {
    display: inline-block;
    width: 490px;
    float: right;
  }
  p {
    margin: 10px 0;
    font-size: 20px;
  }
  a:hover {
    text-decoration: underline;
  }
}