<!DOCTYPE html>
<html>
<head>
	<%- include('head', {title: title}); %>
</head>
<body>
  <%- include('header') %>
	<div id='app'></div>
	<script src=<%= 'js/default/' + title + '.js' %> ></script>
</body>
</html>
