<% var title = title || null %>

<meta name="renderer" content="webkit"/>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="stylesheet" href="/css/header.css"/>
<!-- <script src="js/baidu-tongji.js"></script> -->
<title><%= title %></title>