<% var title = title || null %>

<div class="header">
  <div class="header-warp">
    <a class="header-title<%if(title == 'index'){%><%=' header-active'%><%}%>" href="/"><img class="header-img" src="img/common/haizainaive_20.png" alt="haizainaive"></a>
    <a class="header-a<%if(title == 'animes'){%><%=' header-active'%><%}%>" href="/animes">动漫</a>
  </div>
</div>