<!DOCTYPE html>
<html>
<head>
	<%- include('head', {title: 'Haizai Naive'}); %>
  <link rel="stylesheet" href="/css/index/prism.css">
  <script src="js/common/jquery-3.1.1.min.js"></script>
  <script src="js/common/jquery.mousewheel.min.js"></script>
  <script src="js/common/jquery.transform2d.min.js"></script>
  <script src="js/index/prism.js"></script>
  <script src="js/index/echarts.min.js"></script>
  <script 
    src="<% if (NODE_ENV == 'dev') { %><%='http://localhost/index.bundle.js'%><%} else {%><%='js/index/index.bundle.js'%><%}%>"
  ></script>
</head>
<body>
  <%- include('header') %>
  <ul>
    <li class="part">
      <div class="part-warp">
        <div id="index">
          <div class="warp">
            <div class="latter">
              <i class="h_s"></i>
              <i class="z_s"></i>
              <i class="n_s"></i>
            </div>
            <i class="h_b"></i>
            <i class="a"></i>
            <i class="i"></i>
            <i class="z_b"></i>
            <i class="a"></i>
            <i class="i"></i>
            <i class="n_b"></i>
            <i class="a"></i>
            <i class="i"></i>
            <i class="v"></i>
            <i class="e"></i>
          </div>
        </div>
        <p class="part-index-info">***你可以向下滚动滑轮或点击右侧导航条***</p>
        <p class="part-tips"></p>
      </div>
    </li>
    <li class="part">
      <div class="part-warp">
        <div id="anime">
          <a href="/animes"><img class="img img-noie9" src="../img/index/part-anime.png"></a>
          <div class="part-input-div">
            <input type="text" class="keyword" placeholder="搜索你想知道的动漫，搜索内容为空时，获得全部数据">
            <input type="button" class="search" value="搜索">
          </div>
          <div class="carousel">
            <i class="left-b"></i>
            <i class="right-b"></i>
            <div class="slides">
              <i class="left"></i>
              <i class="right"></i>
            </div>
            <div class="carousel-items"></div>
          </div>
        </div>
        
        <a class="part-tips-a" href="/animes#/4848701"><p class="part-tips"></p></a>
      </div>
    </li>
    <li class="part">
      <div class="part-warp">
        <div id="demos">
          <h2 class="title">Demos</h2>
          <div class="left">
            <h3 class="title2">Todos</h3>
            <p><a code="jquery-todos" href="javascript:">jquery-todos</a></p>
            <p><a code="react-todos" href="javascript:">react-todos</a></p>
            <p><a code="redux-todos" href="javascript:">redux-todos</a></p>
            <p><a code="vuex-todos" href="javascript:">vuex-todos</a></p>
          </div>
          <div class="right">
            <h3 class="title2">其它</h3>
            <p><a code="jquery-calendar" href="javascript:">日历</a></p>
            <p><a code="weather" href="javascript:">天气预报</a></p>
            <p><a code="questionnaire" href="javascript:">问卷调查系统</a></p>
          </div>
        </div>
        <p class="part-tips"></p>
      </div>
    </li>
    <li class="part">
      <div class="part-warp">
        <div id="chart">
          <div id="chart-main"></div>
          <p class="title"></p>
          <ul class="rank"></ul>
          <a href="https://github.com/haizai/crawler/tree/master/qidianVIP" target="_black"><span class="github">数据来源</span></a>
        </div>
        <p class="part-tips"></p>
      </div>
    </li>
    <li class="part">
      <div class="part-warp">
        <div id="aboutme">
          <h2 class="title">About me</h2>
          <p>QQ: 384257538</p>
          <p>Github: <a href="https://github.com/haizai" target="_black">github.com/haizai</a></p>
          <p>Email: haizainaive@gmail.com</p>
        </div>
        <a class="part-tips-a" target="_black" href="img/index/n2.jpg"><p class="part-tips"></p></a>
      </div>
    </li>
  </ul>

  <div id="slide">
    <img class="top" src="/img/index/fold.png">
    <span class="top-text">向上滚动</span>
    <ul class="items"></ul>
    <img class="bottom" src="/img/index/unfold.png">
    <span class="bottom-text">向下滚动</span>
  </div>



  <div id="code">
    <div class="warp">
      <i class="del"></i>
      <div class="head">
        <span class="title"></span>
        <a target="_black" href="javascript:"><span class="detail">项目演示<span></a>
        <a target="_black" href="javascript:"><span class="github">github源码<span></a>
      </div>
      <ul class="slide"></ul>
      <span class="slide-span"></span>
      <ul class="body"></ul>
    </div>
  </div>

  <div id="script-box" style="display:none;"></div>

</body>
</html>
