<!DOCTYPE html>
<html>
  <head>
		<%- include('head', {title: 'Haizai Naive'}); %>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="header"><a class="header-a" href="animes">动漫</a></div>
    <img class="title-img" src="/img/haizainaive_60.png">
  </body>
</html>
