<!DOCTYPE html>
<html>
  <head>
		<%- include('head', {title: 'Haizai Naive'}); %>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <%- include('header') %>
    <img class="title-img" src="/img/haizainaive_60.png">
  </body>
</html>
