<!DOCTYPE html>
<html>
<head>
	<%- include('head', {title: 'Haizai Naive'}); %>
  <link rel="stylesheet" href="/css/index/index.css">
  <link rel="stylesheet" href="/css/index/prism.css">
  <script src="js/common/jquery-3.1.1.min.js"></script>
  <script src="js/common/jquery.mousewheel.min.js"></script>
  <script src="js/index/index.js"></script>
</head>
<body>
  <%- include('header') %>
  <div>
    <div class="part">
      <div class="part-warp">
        <p class="part-index-info">***你可以向下滚动滑轮或点击右侧导航条***</p>
        <p class="part-tips"></p>
      </div>
    </div>
    <div class="part">
      <div class="part-warp">
        <div class="part-anime-warp">
          <a href="/animes"><img class="part-anime-img part-anime-img-noie9" src="../img/index/part-anime.png"></a>
          <div class="part-input-div">
            <input type="text" class="part-anime-keyword" placeholder="搜索你想知道的动漫，搜索内容为空时，获得全部数据">
            <input type="button" class="part-anime-search" value="搜索">
          </div>
          <div class="part-anime-carousel">
            <i class="part-anime-left-b"></i>
            <i class="part-anime-right-b"></i>
            <div class="part-anime-slides">
              <i class="part-anime-left"></i>
              <i class="part-anime-right"></i>
            </div>
            <div class="carousel-items"></div>
          </div>
        </div>
        
        <a class="part-tips-a" href="/animes#/4848701"><p class="part-tips"></p></a>
      </div>
    </div>
    <div class="part">
      <div class="part-warp">
        <div class="part-demos-warp">
          <h2 class="part-demos-title">Demos</h2>
          <p code="jquery-calendar"><a href="javascript:">jquery日历</a></p>
          <p><a target="_black" href="demo/jquery-todos/todos.html">jquery-todos</a></p>
          <p><a target="_black" href="demo/react-todos/index.html">react-todos</a></p>
          <p><a target="_black" href="demo/redux-todos/index.html">redux-todos</a></p>
          <p><a target="_black" href="demo/vuex-todos/index.html">vuex-todos</a></p>
          <p><a target="_black" href="demo/weather/weather.html">天气预报</a></p>
          <p><a target="_black" href="demo/questionnaire/index.html">问卷调查系统</a></p>
        </div>
        <p class="part-tips"></p>
      </div>
    </div>
    <div class="part">
      <div class="part-warp">
        <p class="part-tips"></p>
      </div>
    </div>
    <div class="part">
      <div class="part-warp">
        <div class="part-aboutme-warp">
          <h2 class="part-aboutme-title">About me</h2>
          <p>QQ: 384257538</p>
          <p>Github: <a href="https://github.com/haizai" target="_black">github.com/haizai</a></p>
          <p>Email: haizainaive@gmail.com</p>
        </div>
        <a class="part-tips-a" target="_black" href="img/index/n2.jpg"><p class="part-tips"></p></a>
      </div>
    </div>
  </div>
  <div class="slide">
    <img class="slide-top" src="/img/index/fold.png">
    <span class="slide-top-text">向上滚动</span>
    <div class="slide-items"></div>
    <img class="slide-bottom" src="/img/index/unfold.png">
    <span class="slide-bottom-text">向下滚动</span>
  </div>



  <div class="code-all" code="jquery-calendar">
    <div class="code-warp">
      <i class="code-del"></i>
      <div class="code-head">
        <span class="code-title">jquery日历</span>
        <a target="_black" href="/demo/jquery-calendar/calendar.html"><span class="code-detail">项目演示<span></a>
        <a target="_black" href="https://github.com/haizai/cloud/tree/master/server/public/demo/jquery-calendar"><span class="code-github">github源码<span></a>
      </div>
      <ul class="code-slide">
        <li class="code-slide-in">calendar.js</li>
        <li>calendar.html</li>
        <li>calendar.css</li>
      </ul>
      <ul class="code-body">
        <li style="display:block">

<pre><code class="language-javascript">function Calendar(input) {
  this.input = input
  this.date = new Date()
  this.container = null
  this.head = null
  this.content = null
  this.init()
}

Calendar.prototype = {
  init: function() {
    this.container = $('&lt;div&gt;&lt;/div&gt;').attr('id', 'calendar')
    this.input.after(this.container)
    this.head = $('&lt;div&gt;&lt;/div&gt;').appendTo(this.container).addClass('head')
    $('&lt;div&gt;&lt;/div&gt;')
      .addClass('middle')
      .html('&lt;span&gt;日&lt;/span&gt;&lt;span&gt;一&lt;/span&gt;&lt;span&gt;二&lt;/span&gt;&lt;span&gt;三&lt;/span&gt;&lt;span&gt;四&lt;/span&gt;&lt;span&gt;五&lt;/span&gt;&lt;span&gt;六&lt;/span&gt;')
      .appendTo(this.container)
    this.content = $('&lt;div&gt;&lt;/div').addClass('content').appendTo(this.container)
    this.toggleDisplay()
    this.render(this.date)
    this.inputClick()
  },
  //渲染日历本身
  render: function(date) {
    var self = this
    this.head.html('&lt;span class=&quot;leftCreat&quot;&gt;&lt;/span&gt;' + date.getFullYear() + '年' + (date.getMonth() + 1) + '月' + '&lt;span class=&quot;rightCreat&quot;&gt;&lt;/span&gt;')
    this.content.html('')
      //上个月补全
    var lastdate = new Date(date.getFullYear(), date.getMonth(), 0) //上个月最后一天
    if (lastdate.getDay() !== 6)
      for (var i = lastdate.getDate() - lastdate.getDay(); i &lt; lastdate.getDate() + 1; i++) {
        ($('&lt;span&gt;&lt;/span&gt;').addClass('last').html(i)).appendTo(self.content)
      }
      //本月
    var nextdate = new Date(date.getFullYear(), date.getMonth() + 1, 0) //这个月最后一天
    for (var i = 1; i &lt; nextdate.getDate() + 1; i++) {
      ($('&lt;span&gt;&lt;/span&gt;').html(i)).appendTo(self.content)
    }
    //下个月
    for (var i = 1; i &lt; (7 - nextdate.getDay()); i++) {
      ($('&lt;span&gt;&lt;/span&gt;').addClass('next').html(i)).appendTo(self.content)
    }

    this.content
      .children()
      .filter(function(index) {
        return (index % 7 === 0 || index % 7 === 6)
      })
      .not($('.last'))
      .not($('.next'))
      .addClass('side')
      //如果是本年本月,就激活今天
    if (this.date.getMonth() === new Date().getMonth() &amp;&amp; this.date.getFullYear() === new Date().getFullYear()) {
      this.dateActive(date.getDate())
    }
    this.click()
  },
  //激活某一天
  dateActive: function(date) {
    this.content //复原
      .children()
      .filter($('.active'))
      .removeClass('active')
    this.content
      .children()
      .not($('.last'))
      .not($('.next'))
      .filter(function() {
        return ($(this).text() == date)
      })
      .addClass('active')
    this.input.text(this.head.text() + date + '日')
  },
  toggleDisplay: function() {
    this.container.toggleClass('displayNone')
  },
  inputClick: function() {
    var self = this
    this.input.click(function() {
      self.toggleDisplay()
    })
  },
  click: function() {
    var self = this
      //点击本月的一天,则激活那天
    this.content
      .children()
      .not($('.last'))
      .not($('.next'))
      .click(function() {
        self.dateActive($(this).text())
      })
      //点击上月的一天,则来到上月,并激活
    this.content
      .children()
      .filter($('.last'))
      .click(function() {
        self.lastMouth()
        self.dateActive($(this).text())
      })
      //点击下月的一天,则来到下月,并激活
    this.content
      .children()
      .filter($('.next'))
      .click(function() {
        self.nextMouth()
        self.dateActive($(this).text())
      })

    this.head.find($('.leftCreat'))
      .click(function() {
        self.lastMouth()
      })
    this.head.find($('.rightCreat'))
      .click(function() {
        self.nextMouth()
      })
  },
  lastMouth: function() {
    this.date.setMonth(this.date.getMonth() - 1)
    this.render(this.date)
  },
  nextMouth: function() {
    this.date.setMonth(this.date.getMonth() + 1)
    this.render(this.date)
  },
}
new Calendar($('#input'))</code></pre>

        </li>
        <li>
          
<pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
  &lt;title&gt;calendar&lt;/title&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;calendar.css&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div id=&quot;input&quot;&gt;&lt;/div&gt;
  &lt;script src=&quot;../../js/common/jquery-3.1.1.min.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;calendar.js&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

        </li>
        <li>
          
<pre><code class="language-css">body {
  font: 20px/2 simhei;
}
#input {
  width: 310px;
  height: 40px;
  margin: 20px auto 10px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ccc;
}
#calendar {
  width: 280px;
  margin: auto;
  padding: 5px 15px;
  border: 1px solid #ccc;
}
.displayNone {
  display: none;
}
.head {
  font-size: 22px;
  line-height: 30px;
  position: relative;
  text-align: center;
  color: #fff;
  background: #d14141;
}
.leftCreat {
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  border-top: 8px solid transparent;
  border-right: 12px solid #fff;
  border-bottom: 8px solid transparent;
}
.rightCreat {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #fff;
}
.middle > span,
.content > span {
  display: inline-block;
  width: 40px;
  text-align: center;
}
.content > span:hover {
  cursor: pointer;
  background: #eee;
}
.content > span.last,
.content > span.next {
  color: #ccc;
}
.content > span.side {
  color: #d14141;
}
.content > span.active {
  color: #fff;
  background: #d14141;
}</code></pre>

        </li>
      </ul>
    </div>
  </div>
  <script src="js/index/prism.js"></script>
  <script src="js/index/code.js"></script>
</body>
</html>
