<!DOCTYPE html>
<html>
<head>
	<%- include('head', {title: 'Haizai Naive'}); %>
  <link rel="stylesheet" href="/css/index/index.css">
  <link rel="stylesheet" href="/css/index/prism.css">
  <script src="js/common/jquery-3.1.1.min.js"></script>
  <script src="js/common/jquery.mousewheel.min.js"></script>
  <script src="js/index/index.js"></script>
</head>
<body>
  <%- include('header') %>
  <div>
    <div class="part">
      <div class="part-warp">
        <p class="part-index-info">***你可以向下滚动滑轮或点击右侧导航条***</p>
        <p class="part-tips"></p>
      </div>
    </div>
    <div class="part">
      <div class="part-warp">
        <div class="part-anime-warp">
          <a href="/animes"><img class="part-anime-img part-anime-img-noie9" src="../img/index/part-anime.png"></a>
          <div class="part-input-div">
            <input type="text" class="part-anime-keyword" placeholder="搜索你想知道的动漫，搜索内容为空时，获得全部数据">
            <input type="button" class="part-anime-search" value="搜索">
          </div>
          <div class="part-anime-carousel">
            <i class="part-anime-left-b"></i>
            <i class="part-anime-right-b"></i>
            <div class="part-anime-slides">
              <i class="part-anime-left"></i>
              <i class="part-anime-right"></i>
            </div>
            <div class="carousel-items"></div>
          </div>
        </div>
        
        <a class="part-tips-a" href="/animes#/4848701"><p class="part-tips"></p></a>
      </div>
    </div>
    <div class="part">
      <div class="part-warp">
        <div class="part-demos-warp">
          <h2 class="part-demos-title">Demos</h2>
          <p><a code="jqueryCalendar" href="javascript:">jquery日历</a></p>
          <p><a target="_black" href="demo/jquery-todos/todos.html">jquery-todos</a></p>
          <p><a target="_black" href="demo/react-todos/index.html">react-todos</a></p>
          <p><a target="_black" href="demo/redux-todos/index.html">redux-todos</a></p>
          <p><a target="_black" href="demo/vuex-todos/index.html">vuex-todos</a></p>
          <p><a target="_black" href="demo/weather/weather.html">天气预报</a></p>
          <p><a target="_black" href="demo/questionnaire/index.html">问卷调查系统</a></p>
        </div>
        <p class="part-tips"></p>
      </div>
    </div>
    <div class="part">
      <div class="part-warp">
        <p class="part-tips"></p>
      </div>
    </div>
    <div class="part">
      <div class="part-warp">
        <div class="part-aboutme-warp">
          <h2 class="part-aboutme-title">About me</h2>
          <p>QQ: 384257538</p>
          <p>Github: <a href="https://github.com/haizai" target="_black">github.com/haizai</a></p>
          <p>Email: haizainaive@gmail.com</p>
        </div>
        <a class="part-tips-a" target="_black" href="img/index/n2.jpg"><p class="part-tips"></p></a>
      </div>
    </div>
  </div>
  <div class="slide">
    <img class="slide-top" src="/img/index/fold.png">
    <span class="slide-top-text">向上滚动</span>
    <div class="slide-items"></div>
    <img class="slide-bottom" src="/img/index/unfold.png">
    <span class="slide-bottom-text">向下滚动</span>
  </div>



  <div class="code-all">
    <div class="code-warp">
      <i class="code-del"></i>
      <div class="code-head">
        <span class="code-title"></span>
        <a target="_black" href="javascript:"><span class="code-detail">项目演示<span></a>
        <a target="_black" href="javascript:"><span class="code-github">github源码<span></a>
      </div>
      <ul class="code-slide"></ul>
      <ul class="code-body"></ul>
    </div>
  </div>
  <script src="js/index/prism.js"></script>
  <script src="js/index/code.js"></script>
</body>
</html>
