<% var user = user || null %>

<!DOCTYPE html>
<html>
<head>
  <%- include('head'); %>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <%- include('header') %>
  <% if (!user) { %>
    <div id='login'>
      <h2 class="login-head">登入Haizainai</h2>
      <div class="login-body">
        <div class="login-line">
          <label>用户名</label><input type="text" id="login-account" maxlength="16">
        </div>
        <div class="login-line">
          <label>密码</label><input type="password" id="login-password" maxlength="16">
        </div>
        <div class="login-line">
          <div class="login-btn" id="login-submit">登入</div>
          <div class="login-btn" id="login-reg">注册</div>
        </div>
        <p class="login-text"></p>
      </div>
    </div>
    <script src="js/common/jquery-3.1.1.min.js"></script>
    <script src="js/user/login.js"></script>

  <% } else { %>
    <div>
      喵，你进入了一个神秘的领域。
    </div>
  <% } %>






</body>
</html>