
body {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
  margin: 0;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

.header {
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #29AAD4;
}

.header-warp {
  width: 980px;
  margin: 0 auto;
  height: 100%;
}

.header-title {
  display: inline-block;
  height: 50px;
  line-height: 0;
}
.header-a {
  color: #fff;
  float: right;
  padding: 0 20px;
  font-size: 18px;
}
.header-active {
  background: #00a1d6;
}

.header-img {
  padding: 0 5px;
}

.header-img:hover {
  background: #00a1d6;
} 
.header-a:hover{
  background: #00a1d6;
} 