body {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
  margin: 0;
  color: #333;
}

a {
  text-decoration: none;
}

.header {
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #29AAD4;
  box-shadow: 0 0 6px 0 #2D95B7;
}

.header-warp {
  width: 980px;
  margin: 0 auto;
  height: 100%;
}

.header-title {
  display: inline-block;
  height: 50px;
  line-height: 0;
}
.header-menu {
  float: right;
}
.header-item {
  color: #fff;
  padding: 0 20px;
  font-size: 18px;
  transition: all .3s;
  display: inline-block;
}
.header-item a {
  color: #fff;
}
.header-hr {
  display: inline-block;
  position: absolute;
  margin-left: -1px;
  border-right: 2px solid #fff;
  top: 15px;
  height: 20px;
}
.header-active {
  background: #00a1d6;
}

.header-img {
  border-width: 0;
  transition: all .3s;
}

.header-img:hover {
  background: #00a1d6;
} 
.header-item:hover{
  background: #00a1d6;
}

.header-user {
  float: right;
  display: inline-block;
  width: 80px;
  height: 50px;
  font-size: 12px;
  text-align: center;
}
.header-user a {
  color: #fff;
}
.header-user a:hover {
  color: #f25d8e;
}
.header-user .item{
  color: #fff;
  font-size: 18px;
}
.header-user .face{
  position: relative;
}
.header-user .small-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: absolute;
  left: 18px;
  top: 4px;
  cursor: pointer;
  transition: .2s all;
  z-index: 2010;
}
.header-user:hover .small-img {
  width: 60px;
  height: 60px;
  left: 10px;
  top: 20px;
}
.header-user .face-cont {
  display: none;
  position: absolute;
  width: 160px;
  height: 120px;
  background: rgba(0, 0, 0, 0.6);
  top: 50px;
  left: -40px;
  z-index: 2005;
  color: #fff;
}
.header-user:hover .face-cont {
  display: block;
}
.header-user .logoff {
  position: absolute;
  right: 15px;
  bottom: -5px;
}
.header-user .enter {
  position: absolute;
  left: 15px;
  bottom: -5px;
}
.header-user .account {
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
}