#user {
  margin: 0 auto;
  width: 980px;
  line-height: 2;
}
.user-head {
  margin: 30px 0;
  font-size: 24px;
  text-align: center;
  color: #00a1d6;
}

.user-body {
  width: 800px;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 4px;
}
.user-slide {
  float: left;
  width: 150px;
  text-align: center;
  border-right: 1px solid #ccc;
}
.user-slide-title {
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
  color: #999;
  font-weight: bold;
}
.user-slide li {
  width: 100%;
  padding: 10px 0;
  transition: all .1s;
  font-size: 14px;
  background: #f5f5f5;
}
.user-slide li:hover {
  background:#ddd;
  cursor: pointer;
}
.user-slide li.active {
  background: #29AAD4;
  color: #fff;
}
.user-content {
  margin-left: 160px;
}

.user-account {
  font-size: 32px;
  margin-right: 10px;
  font-weight: bold;
}
.user-uid {
  font-size: 14px;
  color: #888;
}
.user-position {
  font-size: 14px;
  color: #fff;
  padding: 0 5px;
  margin-left: 5px;
  background: #888;
  border-radius: 5px;
}
#user-sign-span {
  margin-left: 2px;
  cursor: pointer;
}
#user-sign-span:hover {
  color: #00a1d6;
}
#user-sign-input {
  display: none;
  width: 400px;
}
.user-btn {
  display: inline-block;
  height: 40px;
  vertical-align: 30%;
  float: right;
  line-height: 40px;
  padding: 0px 62px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ccc;
  transition: all .3s;
}
.user-btn:hover {
  color: #777;
  background-color: #f5f5f5;
}

#user-record table {
  width: 100%;
}
#user-record td {
  border: #ccc solid 1px;
  padding: 3px;
  white-space: pre-line;
  text-align: center;
}