*{
	font-family: simhei;
}
#top{
	width: 400px;
	margin:10px auto;
}
#root{
	width: 400px;
	margin: 0 auto;
	border: 2px solid #C4D5D7;
	padding: 0 0 2px 5px;
	background:rgba(188,244,244,.1);
}
.son{
	margin: 10px 0 10px 20px;
}
.son label{
	color: #53595E;
	margin-right: .5em;
	margin-left: 1em;
}
.son label:hover{
	color: #4DC0BA;cursor: pointer;
}
.search{
	text-decoration: underline;
}
.son p{
	margin: 0;
	position: relative;
}
.son p:hover>.img-add,.son p:hover>.img-delete{
	display: inline-block;
}
i{
	display:inline-block;
	width: 12px;
	height: 12px;
	opacity: .6;
	background-repeat: no-repeat;
	margin-bottom: -2px;
}
i:hover{
	cursor: pointer;
	opacity: 1;
}
.img-add{
	background-image: url('images/add.png');
	margin-right: .3em;
	display: none;
}
.img-delete{
	background: url('images/delete.png');
	display: none;
}
.img-open{
	background-image: url('images/bottom.png');
	background-size: 102% 102%;
	position: absolute;
	top: 4.5px;
}
.img-close{
	background-image: url('images/right.png');
}
.none{
	display: none;
}
.underline{
	text-decoration: underline
}
.animeAdd{
	animation: animeAdd .5s forwards;
}
@keyframes animeAdd{
	0% {
		opacity: 0;
		margin:0 0 0 20px;
	}
	100% {}
}