<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>flex</title>
  <link rel="stylesheet" href="flex.css">
</head>
<body>
  <h2 class="title">flex布局测试</h2>
  <!-- <h3 style="text-align:center">flex布局测试 作者:<a href="https://github.com/haizai" target="_blank">haizai</a></h3> -->
  <div id="app">
    <div class="parent" :style="parentStyle">
      <div class="part" v-for="(part,index) in parts" :style="part" @click="changeSelected(index)">
        part {{index}}
      </div>
    </div>

    <ul v-for="(part,i) in parts" v-show="i===selected" class="style">
      <p style="margin-bottom:5px;">子元素 
        <code>margin: 5px</code> 
        <code>padding: 5px</code> 
      </p>
      现在选中的是：<span class="import" style="background-color: #29aad4">part {{selected}}</span>
      <button @click="addPart()">增加part</button>
      <button @click="removePart()">减少part</button>
      <li v-for="(arr, name) in partAllStyle">
        <span class="import">{{name}}</span>
        <ul v-for="item in arr" class="radio">
          <li :class="{red: parts[i][name] == item}" @click="changePartStyle(selected,name,item)">{{item}}</li>
        </ul>
      </li>
    </ul>

    <ul>
      <p style="margin-bottom: 5px;">父元素 
        <code>display: flex</code> 
        <code>width: 600px</code> 
        <code>height: 160px</code>
      </p>
      <li v-for="(arr, name) in parentAllStyle">
        <span class="import">{{name}}</span>
        <ul v-for="(item,i) in arr" class="radio">
          <li :class="{red: parentStyle[name] == item}" @click="changeParentStyle(name,item)">{{item}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <p class="tip">
    2017 
    <a href="https://github.com/haizai" target="_blank">haizai</a>
    <a href="https://github.com/haizai/cloud/tree/master/server/public/demo/flex" target="_blank">源码</a>
  </p>
  <script src="vue.min.js"></script>
  <script src="flex.js"></script>
</body>
</html>