  #ball{
    width: 50px;
    height: 50px; 
    display: inline-block;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
    background: -webkit-radial-gradient( at 40% 40%,#fff 0, #f25d8e 100%);
    background: radial-gradient( at 40% 40%,#fff 0, #f25d8e 100%);
    z-index: 1000;
  }


  *{
    margin: 0;
  }
  body,html{
    
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;

  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }  

  .index {
    z-index: 2;
    position: relative;
    background: url('../../img/mobile/indexbg.jpg') no-repeat;
    padding-bottom: 31px;
    background-size: cover;
    text-align: center;
  }
  .index-title {
    z-index: -2;
    position: relative;
    font-size: 40px;
    text-shadow: 0px 0px 2px #fff;
    display: flex;
    padding: 0 15%;
    margin-top: 100px;
  }
  .index-title span {
    z-index: -10;
    flex: 1;
    color: #fff;
  }
  .swiper-write-bottom {
    background: linear-gradient(
      to bottom, 
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0)
    );

    padding-bottom: 4px;
  }

  @keyframes updown{
    0%,100%{
      transform:translate(0,0);
      color: #fff;
    }
    13%{
      transform:translate(0,-60px);
      color: #bf9f40;
    }
    25%{
      transform:translate(0,0);
      color: #80bf40;
    }
    37%{
      transform:translate(0,45px);
      color: #40bf60;
    }
    50%{
      transform:translate(0,0);
      color: #40bfbf;
    }
    63%{
      transform:translate(0,-30px);
      color: #4060bf;
    }
    75%{
      transform:translate(0,0);
      color: #7f40bf;
    }
    87%{
      transform:translate(0,15px);
      color: #bf409f;
    }

  }
  .s0{animation: updown 1.5s linear;}
  .s1{animation: updown 1.5s linear .05s;}
  .s2{animation: updown 1.5s linear .1s;}
  .s3{animation: updown 1.5s linear .15s;}
  .s4{animation: updown 1.5s linear .2s;}
  .s5{animation: updown 1.5s linear .25s;}
  .s6{animation: updown 1.5s linear .3s;}
  .s7{animation: updown 1.5s linear .35s;}
  .s8{animation: updown 1.5s linear .4s;}
  .s9{animation: updown 1.5s linear .45s;}
  .s10{animation: updown 1.5s linear .5s;}

  .anime-slide {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .anime-title {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #727f80;
    width: 100%;
    color: #fff;
    font-size: 20px;
  }
  .anime-img{
    margin: 5px;
    border-radius: 10px;
  }
  .anime-enter {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    background: #f6f6f6;
    width: 100%;
  }
  .anime-a {
    padding: 5px 20px;
    border-radius: 20px;
    background: #f25d8e;
    color: #fff;

  }